<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Süleyman | <a href="https://www.suleymanarslan.com.tr">suleymanarslan.com.tr</a> </p>
            </div>
        </div>
    </div>
</footer>
