
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="form-group">
            <label for="exampleInputEmail1">İsim</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="İsim Giriniz">

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Mail Adresi</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Giriniz">
            <small id="emailHelp" class="form-text text-muted">E-postanızı asla başkalarıyla paylaşmayınız.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Mesaj</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mesajınızı Yazın">

        </div>

        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>
</form>











<!--   <section class="page-section cta"> -->
<!--  <div class="container">
     <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
             <p>Siz değerli müşterilerimize daha iyi hizmet vermek adına öneri, istek ve şikayetlerinizi bizimle paylaşmanızı rica ederiz.</p>
             <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
<!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
<!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally!
<form name="sentMessage" id="contactForm" novalidate="">
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>İSİM</label>
            <input type="text" class="form-control" placeholder="isim" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>EMAİL</label>
            <input type="email" class="form-control" placeholder="e-mail" id="email" required="" data-validation-required-message="Please enter your email address.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>TELEFON NUMARASI</label>
            <input type="tel" class="form-control" placeholder="telefon numarası" id="phone" required="" data-validation-required-message="Please enter your phone number." aria-invalid="false">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label>MESAJ</label>
            <textarea rows="5" class="form-control" placeholder="mesaj" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">GÖNDER</button>
</form>
</div>
</div>
</div> 
</section> -->
